# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
api

# Environment variables
.env
.env.local

# Dependency directories
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
/tmp
